.divBackground{
    background: black;
    background-image:linear-gradient(rgba(46, 209, 216, 0.2) 1px, transparent 1px),
    linear-gradient(to right, rgba(46, 209, 216, 0.2) 1px, rgba(46, 209, 216, 0.1)1px);
    background-size: 18px 18px;
}