.selectItem{
  color: white;
  background-color: #292B45;
}
.logoStyle{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.yesStyle{
  width: 20px;
  height: 20px;
}
.selectedStyle{
  display: flex;
  align-items: center;
}
.tokenStyle{
  display: flex;
  justify-content:space-between
}
.nftSelectedText{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.selectDefault{
  display: flex;
  align-items: center;
}
.selectDefaultSpan{
  margin-right: 10px;
}
.swapButton{
  background: #28B7BC;
  color: #000000;
}

.swapButton:hover{
  background: #28B7BC;
  color: #000000;
}
.optionStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.optionImgText{
  display: flex;
  align-items: center;
}
