.selectItem{
  color: white;
}
.logoStyle{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.yesStyle{
  width: 20px;
  height: 20px;
}
.selectedStyle{
  display: flex;
  align-items: center;
}
.tokenStyle{
  display: flex;
  justify-content:space-between
}
.nftSelectedText{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.selectDefault{
  display: flex;
  align-items: center;
}
.selectDefaultSpan{
  margin-right: 10px;
}
.swapButton{
  background: #00D5DA;
  color: #000000;
}

.swapButton:hover{
  background: #00D5DA;
  color: #000000;
}
.optionStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.optionImgText{
  display: flex;
  align-items: center;
}

.alertPosition{
  position: fixed;
  top: 134px;
  right: 20px;
  z-index: 999;
}

.alertPadding{
  padding: 10px 16px;
}
.modalSize{
  max-width:36rem
}

.buttonDisabled:disabled {
  pointer-events: auto!important;
  cursor: not-allowed!important;
  --tw-border-opacity: 0;
   background-color: #06080F;
   --tw-bg-opacity: 0;
  color: white;
  --tw-text-opacity: 0;
}

.itemSelect{
  background: #28B7BC3B;

}
