.selectItem{
  color: white;
  background-color: #292B45;
}
.logoStyle{
  width: 40px;
  height: 40px;
}
.selectedStyle{
  display: flex;
  align-items: center;
}
.tokenStyle{
  display: flex;
  justify-content:space-between
}
.nftSelectedText{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
