@tailwind base;
@tailwind components;
@tailwind utilities;

/* Downloaded Montserrat font */
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "KronaOneRegular";
  src: url("./Montserrat/KronaOne-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Variable";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("./Montserrat/Montserrat-Bold.ttf");
}

html {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat-Variable";
  background: black !important;
}

body {
  height: 100%;
  width: 100%;
}

body>div,
body>div>div {
  height: 100%;
  width: 100%;
}

.ezBtn {
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 4px;
  padding-right: 4px;
  min-width: max-content;
}

.ezBtnPrimary {
  background-color: #00D5DA;
  color: black;
  border: none;
}

.ezBtnPrimary:hover {
  background-color: #00D5DA;
  color: black;
  border: none;
}

.ezBtnPrimaryOutline {
  background-color: transparent;
  border: #00D5DA solid 1px;
  color: #00D5DA;
}

.ezBtnPrimaryOutline:hover {
  background-color: transparent;
  border: #00D5DA solid 1px;
  color: #00D5DA;
}

@media (min-width: 768px) {
  .ezBtn {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .ezBtn {
    font-size: 0.9rem;
  }
}

/* 隐藏滚动条，但保留滚动功能 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}